body,header,footer,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,hr{ margin: 0; padding: 0; }
fieldset,img{ border: 0; padding: 0}
ol,ul{ list-style: none; }
body{
    min-width: 600px;
    margin-left: 5%;margin-right: 5%;
    background-color:#C5CAE9 ;
}
header{
    background-color: #1A237E;
    margin-bottom: 0.5em;
}
.header-div{
    padding-left: 1em;padding-top: 1em;padding-bottom: 1em;
    color: white;
    margin: 0;
}
h1{
    line-height: 1.5em;
}
.i{
    margin: 0;
    font-family: "Times New Roman","sans-serif";
    color: white;
}
#nav{
    color: #00B0FF;
    background-color: #3F51B5;
    padding-left: 0.7em;
    padding-bottom: 0.3em;padding-top: 0.3em;
}

.a1{
    color: #00B0FF;
    padding: 0.3em 0.3em 0.3em 0.3em ;
}
.a1:hover{
    color: white;
    background-color: #F50057;
}

.div{
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: white;
}
#div1{
    margin-bottom:0.5em ;
    border:#C5CAE9 solid;
}
#div2{
    margin-bottom:0.5em ;
    border:#C5CAE9 solid;
}
#div3{
    padding-bottom: 1em;
    border:#C5CAE9 solid;
}
h2{
    padding-left: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: #7986CB;
    color: white;
}
.img{
    display: block;
    width: 100%;
    height: 100%;
}
.a2{
    color: #00B0FF;
}
.note{
    padding-left: 1em;padding-top: 0.5em;padding-bottom: 0.5em;
    background-color: #C5CAE9;
}
#note{
    font-family: "Times New Roman","sans-serif";
    color: #7990A3;
}
#comment{
    padding-left: 1em;padding-top: 0.5em;padding-right: 1em;
}
#icons{
    text-align: right;
    padding-bottom: 0.5em;
    padding-right: 1em;padding-top: 1em;
}
#square1,#square2,#square3{
    vertical-align: middle;
}
footer{
    color: white;
    margin-top: 0.5em;padding-bottom: 1.3em;
    background-color: #1A237E;
}
#link{
    padding-bottom: 0.6em;padding-top: 1.3em;padding-left: 1em;
}
.footer-a{
    padding-top: 1.3em;
    color: #00B0FF;
}
.reviews{
    font-family: "Times New Roman", "sans-serif";
    color: #C5CAE9;
    padding-top: 0.5em;margin-left: 1em;padding-bottom: 0.5em;
}
span{
    color: #F5A2C1;
}
hr{
    margin-left: 1em;margin-right: 1em;

}
#review1{
    padding-left: 1em;
    padding-bottom: 0.5em;
}
#review2{
    padding-left: 1em;
    padding-bottom: 0.5em;
}

#copyright{
    padding-left: 1em;
    padding-top: 0.6em;
    color: white;
    margin-bottom: 1.3em;
}

