*{
    text-align: center;
    align-items: center;
}
select,button{
    width: 300px;
}
table{
    display: inline-block;
    border: 0;
}
table thead{
    background-color: grey;
    color: whitesmoke;
}
table tr td{
    padding: 0 0.5em;
}
button,#div1{
    display: none;
}
.odd{
    background-color: lightgrey;
}